main{
    max-width: 322px;
    background-color: #fff;
    padding: 1rem;
    color: #000;
    border-radius: 30px;
}

.main-layout{
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
}

.varer{
    input, label{
        display: flex;
    }

    input{
        padding: 0.5rem;
        border-radius: 10px;
        background-color: #fff;
        border: solid 3px #e2e2e2;
        width: 100%;
    }
}

button{
    margin: 0.5rem;
    width: 100%;
}

.antallVarer{
    display: flex;
    justify-content: space-between;

    input{
        width: 50px;
        color: #000;
        background-color: #fff;
        border: solid;
    }
}