.main-layout{
    max-width: 270px;
    background-color: #fff;
    padding: 1rem;

    h1{
        color: #000;
    }
}

.input-layout{
        display: flex;
        flex-direction: column;
}

.return-input{
    color: #000;
}